/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/


.nav-bar{
    font-family:"Roboto";
    font-size: 16px;
    background-color: #0fb9b1;
    border: black;
    border-width: 100px;
    height: 50px
}
/* why isn't border width showing up?? */

/* .h1{ */
    /* position: left; */
    /* top: 25px; */
/* } */
/* how can i target h1, even thought it's in the nav element, and doesn't 
have it's own class or id?? */

#add-recipe-button{
    position:absolute;
    top: 25px;;
    right:25px;
}

/* check this resource
/* // https://stackoverflow.com/questions/18750803/getting-the-button-into-the-top-right-corner-inside-the-div-box */

#choose-meal-type{
    background-color: red;
    border-color: black;
    border-width: 50px;
    /* border-width: 50px; */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 200px;;
    left: 200px;
}
#display-random-meal-type{
    background-color: red;
    border-color: black;
    border-width: 50px;
    /* position: absolute; */
    /* top: 200px; */
    /* right: 200px; */
}
.body{
    background-image: burger-friends.jpg;
}

/* https://www.w3schools.com/css/css_float_examples.asp */

